package views

type ImageType struct {
	Src string
}

type CompressedImagesType struct {
	Source ImageType
	Dest   ImageType
}

templ CompressedImages(images []CompressedImagesType) {
	for _, image := range images {
		<img src={ image.Source.Src }/>
		<img src={ image.Dest.Src }/>
	}
}
